body.light-theme {
    background-color: #f8f9fa;
    color: #212529;
}

body.light-theme .bg-secondary {
    background-color: #e9ecef !important;
    color: #212529;
}

body.light-theme .navbar {
    background-color: #ffffff !important;
    color: #212529;
}

body.light-theme .card {
    background-color: #ffffff;
    color: #212529;
}

body.light-theme .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23212529' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

body.light-theme a{
    color: #0d6efd;
}

body.light-theme .btn {
    color: white;
}

body.light-theme .btn:hover {
    color: white;
}

body.light-theme a:hover {
    color: black;
}
